/*
    总容器
 */
.wrapper{
    width: 800px;
    height: 600px;
    background-color: #59375A;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
    登录窗口
 */
.wrapper .login{
    width: 80%;
    height: 80%;
    background-color: #F2F2F2;

    display: flex;
    flex-direction: column;
}
/*
    标题(头部)
 */
.wrapper .login .header{
    width: 100%;
    height: 12vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1vw 2vw;
    box-sizing: border-box;

    background-color: #6D4A70;
    color: #fff;
}
.wrapper .login .header h1{
    font-size: 2vw;
    font-weight: 600;
}
.wrapper .login .header p{
    font-size: 2vw;
    font-weight: 600;
}
.wrapper .login .login_in{
    width: 100%;
    height: 20vw;
    margin-top: 1vw;
    padding: 1vw 5vw;
    box-sizing: border-box;
}
.wrapper .login .login_in .user{
    width: 100%;
    margin: 1vw 0vw;
    position: relative;
}
.wrapper .login .login_in .pwd{
    width: 100%;
    margin: 1vw 0vw;
    position: relative;
}
.wrapper .login .login_in .user .in{
    border: 1px solid #999;
    border-radius: 0.5vw;
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 1.5vw;
    font-size: 1.5vw;
    width: 100%;
    height: 4vw;
    padding: 0vw 1vw;
    box-sizing: border-box;
}
.wrapper .login .login_in .pwd .in{
    border: 1px solid #999;
    border-radius: 0.5vw;
    background-image: url(../img/pwd.png);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 1.5vw;
    font-size: 1.5vw;
    width: 100%;
    height: 4vw;
    padding: 0vw 1vw;
    box-sizing: border-box;
}
.wrapper .login .sign_in{
    width: 100%;
    height: 20vw;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0vw 2vw;
    box-sizing: border-box;
}
.wrapper .login .sign_btn{
    background-color: #59375A;
    color: #fff;
    border: 1px solid #CCC;
    border-radius: 5px;
    width: 15vw;
    height: 4vw;
}
.wrapper .login a{
    color: #999;
    text-decoration: none;
}
.wrapper .login .login_in .user #user_msg{
    position: absolute;
    background-color: yellowgreen;
    border: 1px solid #6D4A70;
    border-radius: 3px;
    left: 1vw;
    top: -2vw;
    font-size: 1.1vw;
    display: none;
}
.wrapper .login .login_in .pwd #pwd_msg{
    position: absolute;
    background-color: yellowgreen;
    border: 1px solid #6D4A70;
    border-radius: 3px;
    left: 1vw;
    top: -2vw;
    font-size: 1.1vw;
    display: none;
}
